html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }
  
  .circle-image {
    width: 100%;
    max-width: 200px; /* Reduced for mobile */
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto 1rem; /* Centered with margin */
  }
  
  .float-right {
    float: none;
    margin: 0 auto 1rem;
    max-width: 100%;
    display: block;
  }
  
  .float-left {
    float: none;
    margin: 0 auto 1rem;
    max-width: 100%;
    display: block;
  }
  
  .read-more {
    color: #ff914d;
    display: inline-block;
    font-size: 1rem; /* Adjusted for mobile */
  }
  
  .site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .site-content {
    margin: 0 auto;
    padding: 1rem; /* Reduced padding */
    flex: 1;
    width: 100%;
  }
  
  .site-content h1 {
    color: #ff914d;
    font-size: 1.5rem; /* Larger for readability */
  }
  
  footer {
    flex-shrink: 0;
    width: 100%;
    padding: 1rem 0;
    font-size: 0.875rem; /* Adjusted for mobile */
  }
  
  body {
    line-height: 1.6;
    color: #000;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5rem;
    font-size: 1rem;
  }
  
  .mb-5 {
    margin-bottom: 2rem; /* Reduced for mobile */
  }
  
  ::selection {
    background: #2e4978;
    color: #fff;
    text-shadow: none;
  }
  
  ::-moz-selection {
    background: #d31f2f;
    color: #fff;
    text-shadow: none;
  }
  
  ::-webkit-selection {
    background: #d31f2f;
    color: #fff;
    text-shadow: none;
  }
  
  :active {
    outline: 0;
  }
  
  :focus {
    outline: none;
  }
  
  #logo a {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0a1523;
    display: block;
    text-align: center;
  }
  
  a {
    text-decoration: none !important;
    color: #e44e41;
  }
  
  a:hover {
    color: #222;
  }
  
  button:focus {
    outline: 2px solid #000;
  }
  
  a img {
    border: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  iframe {
    border: none !important;
    width: 100%;
    height: auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 1rem;
  }
  
  h5, h6 {
    margin-bottom: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  h5 {
    font-size: 0.875rem;
  }
  
  h6 {
    font-size: 0.75rem;
  }
  
  h4 {
    font-weight: 600;
  }
  
  h5, h6 {
    font-weight: 700;
  }
  
  address, blockquote, dd, dl, fieldset, form, ol, p, pre, table, ul {
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  
  #top-header {
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    letter-spacing: 0;
    position: relative;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    z-index: 9;
    background: #400b65;
    padding: 0.5rem 0;
  }
  
  #top-header a {
    color: #ffffff;
    padding: 0 0.5rem;
    display: inline-block;
    text-transform: none;
    border-radius: 2px;
    transition: 0.2s ease-in-all;
  }
  
  #top-header a:hover, #top-header a:focus {
    background: #fff;
    color: #000;
  }
  
  div#logo {
    text-align: center;
    float: none;
    display: block;
    padding: 1rem 0;
  }
  
  #primary-menu {
    width: 100%;
    background: #f6edfd;
    border: 0;
    height: auto;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  #primary-menu.active {
    display: block;
  }
  
  #header.full-header #primary-menu > ul {
    float: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #primary-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: normal;
  }
  
  #primary-menu > ul {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  
  #primary-menu ul li {
    position: relative;
    width: 100%;
  }
  
  #primary-menu > ul > li {
    float: none;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    display: block;
    padding: 0.5rem 0;
  }
  
  #primary-menu > ul > li:first-child {
    margin-left: 0;
    border-left: 0;
  }
  
  #primary-menu > ul > li:last-child {
    border-right: 0;
  }
  
  #primary-menu ul li > a {
    transition: all ease 0.5s;
    display: block;
    line-height: normal;
    padding: 0.75rem 1rem;
    color: #000000;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 1px solid #ddd; /* Separator for mobile */
  }
  
  #primary-menu ul li > a i {
    position: relative;
    top: -1px;
    font-size: 0.875rem;
    width: 1rem;
    text-align: center;
    margin-right: 0.375rem;
    vertical-align: top;
  }
  
  #primary-menu ul ul li {
    float: none;
    margin: 0;
    text-align: left;
    padding-left: 1.5rem;
  }
  
  #primary-menu ul ul li:first-child {
    border-top: 0;
  }
  
  #primary-menu ul ul li > a {
    font-weight: 600;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0;
    letter-spacing: 0;
    transition: all 0.2s ease-in-out;
    white-space: normal;
    margin: 0;
    background: #400b65; /* Submenu background */
  }
  
  #primary-menu ul ul li > a i {
    vertical-align: middle;
  }
  
  #header, #header-wrap, #logo img {
    height: auto;
    transition: height 0.4s ease, opacity 0.3s ease;
  }
  
  #logo img {
    transition: height 0.4s ease, opacity 0.3s ease;
    border-radius: 0;
    width: auto;
    max-height: 5rem;
    margin: 0 auto;
  }
  
  #primary-menu ul ul li:hover > a, #primary-menu ul ul li a:focus {
    text-decoration: none !important;
    background: #2a0845;
    color: #ffffff !important;
  }
  
  #primary-menu > ul > li > a:after {
    display: none; /* Hide underline on mobile */
  }
  
  #primary-menu ul li > a:hover:after {
    width: 100%;
  }
  
  #primary-menu ul.dropdown-menu.dropdown-menu-right {
    left: auto;
    right: 0;
  }
  
  #primary-menu > ul > li:hover ul, #primary-menu > ul > li:focus ul, #primary-menu > ul > li > a:focus + ul {
    opacity: 1;
    visibility: visible;
    transition: all ease 0.5s;
    position: static;
    width: 100%;
    box-shadow: none;
  }
  
  #primary-menu ul.dropdown-menu {
    background: #fff;
    position: static;
    width: 100%;
    border: 0;
  }
  
  #primary-menu ul.dropdown-menu li a {
    color: #000;
    padding-left: 1.5rem;
  }
  
  #primary-menu ul li.sub-menu a span {
    transform: rotate(0deg);
    transition: all ease 0.5s;
  }
  
  #primary-menu ul li.sub-menu:hover a span, #primary-menu ul li.sub-menu:active a span, #primary-menu ul li.sub-menu:focus a span {
    transform: rotate(180deg);
    transition: all ease 0.5s;
  }
  
  .closemenu {
    display: none; /* Hidden unless needed */
  }
  
  .closemenu img, #primary-menu-trigger img {
    max-width: 1.5rem;
    height: auto;
  }
  
  #primary-menu > ul > li > a:hover, #primary-menu > ul > li > a:focus, #primary-menu > ul > li:hover > a, #primary-menu > ul > li:focus > a {
    transition: all ease 1s;
    background: #400b65;
    color: #ffffff !important;
  }
  
  #primary-menu-trigger {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    padding: 0.5rem;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dflex.portletsboxes .portlet {
    padding: 0.5rem;
  }
  
  .row.dflex.portletsboxes .portlet {
    padding: 0.5rem;
  }
  
  .row.dflex.portletsboxes > div {
    margin: 0;
  }
  
  .dflex.portletsboxes .portlet h1 {
    font-size: 1.25rem;
  }
  
  .gt_switcher_wrapper {
    top: 0 !important;
    margin-left: -6px;
  }
  
  .bgimage1 {
    padding: 1rem;
    text-align: center;
    min-height: 12.5rem;
    display: grid;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  #content .bgimage1 p.head1, #content .bgimage2 p.head1 {
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.2;
  }
  
  .bgimage2 {
    padding: 1rem;
    text-align: center;
    min-height: 12.5rem;
    display: grid;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .fotercontent .footer-logo {
    border: 0.5rem solid #fff;
    border-radius: 7px;
    max-width: 150px; /* Constrain for mobile */
  }
  
  .footer {
    position: relative;
    width: 100%;
    padding: 1rem 0;
    font-weight: 600;
    background: #f6edfd;
    z-index: 1;
  }
  
  h4.hfooter {
    text-align: center;
    color: #ad8772;
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
    margin-bottom: 0.75rem;
  }
  
  .footer h4 {
    color: #fff;
    margin-bottom: 0.75rem;
    margin-top: 0;
    font-size: 1.25rem;
  }
  
  footer.footer .footertop a, footer.footer .footertop span {
    color: #fff;
    border-color: #fff !important;
  }
  
  .footertop.white-skin, .footertop.white-skin h4, .footertop.white-skin p, .footertop.white-skin h4 a, .footertop.white-skin p a, .footertop.white-skin a span.fa {
    color: #fff;
  }
  
  .footertop.white-skin a:hover {
    color: #fff !important;
  }
  
  .footertop.black-skin, .footertop.black-skin h4, .footertop.black-skin p, .footertop.black-skin h4 a, .footertop.black-skin p a, .footertop.black-skin a span.fa {
    color: #000;
  }
  
  .footertop.black-skin a:hover {
    color: #fff;
  }
  
  .footertop a:hover {
    color: #fff !important;
    text-decoration: underline !important;
  }
  
  .footerbox {
    display: block;
    width: 100%;
  }
  
  .socialf {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: block;
    text-align: center;
  }
  
  #copyrights {
    text-align: center;
    padding: 0.5rem 0;
  }
  
  .socialf {
    text-align: center;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 767px) {
    .site-content {
      padding: 0.5rem;
    }
    #primary-menu ul li > a {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
    #logo img {
      max-height: 4rem;
    }
    .bgimage1, .bgimage2 {
      min-height: 10rem;
    }
    #content .bgimage1 p.head1, #content .bgimage2 p.head1 {
      font-size: 1.25rem;
    }
    .footer h4 {
      font-size: 1rem;
    }
    .portfolio-image {
      max-height: 10rem;
    }
    .btn {
      padding: 0.5rem;
      font-size: 0.75rem;
      margin: 0.25rem;
    }
    #wrapper {
      max-width: 100%;
      margin: 0;
    }
    #top-header {
      font-size: 0.75rem;
      padding: 0.25rem 0;
    }
    #primary-menu > ul > li {
      padding: 0.25rem 0;
    }
    .swiper_wrapper {
      height: 15rem !important;
    }
  }
  
  font {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Play', sans-serif;
  }
  
  .opensans {
    font-family: 'Open Sans', sans-serif;
  }
  
  .antonFont {
    font-family: 'Anton', sans-serif;
  }
  
  .dropdown, .dropup {
    position: relative;
  }
  
  .dropdown-toggle:focus {
    outline: 0;
  }
  
  .dropdown-menu {
    position: static;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    width: 100%;
    padding: 0.25rem;
    list-style: none;
    font-size: 0.875rem;
    text-align: center;
    background-color: #ffffff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.175);
  }
  
  .dropdown-menu.pull-right {
    right: 0;
    left: 0;
  }
  
  .dropdown-menu .dropdown-menu {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    margin: 0;
    list-style: none;
    font-size: 0.875rem;
    text-align: center;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.175);
  }
  
  .dropdown-menu li {
    position: relative;
    width: 100%;
  }
  
  .dropdown-menu .divider {
    height: 1px;
    margin: 0.5rem 0;
    overflow: hidden;
    background-color: #e5e5e5;
  }
  
  .dropdown-menu > li > a {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 600;
    line-height: 1.42857143;
    color: #000000;
    white-space: normal;
  }
  
  .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #5c5c5c;
  }
  
  .dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #337ab7;
  }
  
  .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    color: #777;
  }
  
  .dropdown-menu > .disabled > a:focus, .dropdown-menu > .disabled > a:hover {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    cursor: not-allowed;
  }
  
  .open > .dropdown-menu {
    display: block;
  }
  
  .open > a {
    outline: 0;
  }
  
  .dropdown-menu-left {
    left: 0;
    right: auto;
  }
  
  .dropdown-header {
    display: block;
    padding: 0.25rem 1rem;
    font-size: 0.75rem;
    line-height: 1.42857143;
    color: #777;
    white-space: nowrap;
  }
  
  .dropdown-menu .dropdown-menu li a {
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 700;
    line-height: 1.42857143;
    color: #333;
    white-space: normal;
  }
  
  .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
  }
  
  .pull-right > .dropdown-menu {
    right: 0;
    left: 0;
  }
  
  .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px dashed;
    content: "";
  }
  
  .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px;
  }
  
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: normal;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    margin: 0.25rem; /* Added spacing for tap */
  }
  
  address {
    font-style: normal;
  }
  
  dd, dl, dt, li, ol, ul {
    margin: 0;
    padding: 0;
  }
  
  header#header.sticky-header #logo img {
    max-width: 100%;
  }
  
  .clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
  }
  
  #wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: #fff;
  }
  
  .section {
    position: relative;
    padding: 1.5rem 0;
    background-color: #f9f9f9;
    width: 100%;
  }
  
  .parallax {
    background-color: transparent;
    background-attachment: scroll;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  
  #header {
    position: fixed;
    background-color: #f6edfd;
    z-index: 9;
    width: 100%;
    top: 0;
    box-shadow: 0 0 0.125rem #727272;
    transition: all ease 0.5ms;
    padding: 0.5rem 0;
  }
  
  .swiper_wrapper {
    width: 100%;
    height: 15rem; /* Reduced for mobile */
    overflow: hidden;
  }
  
  .full-screen .swiper_wrapper {
    height: auto;
  }
  
  .swiper_wrapper .swiper-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .swiper_wrapper .swiper-slide {
    position: relative;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100% !important;
  }
  
  .swiper-slide [data-caption-animate] {
    -webkit-backface-visibility: hidden;
  }
  
  .section .video-wrap, .section .yt-bg-player, .swiper-slide .video-wrap, .swiper-slide .yt-bg-player {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
  }
  
  #slider .container {
    position: relative;
    height: 100%;
    z-index: 1;
  }
  
  #slider.canvas-slider .swiper-slide img {
    width: 100%;
  }
  
  #slider.canvas-slider a {
    display: block;
    height: 100%;
  }
  
  .swiper-pagination {
    position: absolute;
    width: 100%;
    z-index: 20;
    margin: 0;
    top: auto;
    bottom: 1rem !important;
    text-align: center;
    line-height: 1;
    margin-top: 1rem;
    z-index: 1;
  }
  
  .swiper-pagination span {
    display: inline-block;
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.125rem;
    opacity: 1;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  #slider .owl-next, #slider .owl-prev, #slider-arrow-left, #slider-arrow-right, .camera_next, .camera_prev, .flex-next, .flex-prev, .nivo-nextNav, .nivo-prevNav, .slider-arrow-bottom-sm, .slider-arrow-top-sm {
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    left: 0;
    margin-top: -1rem;
    background-color: #000;
    width: 2rem;
    height: 2rem;
    border: 0;
    border-radius: 0 2px 2px 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  .swiper-pagination span.swiper-pagination-bullet-active, .swiper-pagination span:hover {
    background-color: #3c3c3c !important;
    color: #fff;
    width: 1rem;
  }
  
  #slider .owl-next, #slider .owl-prev {
    transition: background-color 0.3s ease-in-out;
  }
  
  #slider .owl-next, #slider-arrow-right, .camera_next, .flex-next, .nivo-nextNav {
    left: auto;
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  #slider .owl-next i, #slider .owl-prev i, #slider-arrow-left i, #slider-arrow-right i, .camera_next i, .camera_prev i, .flex-next i, .flex-prev i, .nivo-nextNav i, .nivo-prevNav i, .slider-arrow-bottom-sm i, .slider-arrow-top-sm i {
    line-height: 2rem;
    width: 100%;
    height: 2rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
    text-align: center;
    margin-left: 0;
  }
  
  .slider-arrow-bottom-sm i, .slider-arrow-top-sm i {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
    line-height: 1.5rem;
    font-size: 1rem;
    color: #fff;
  }
  
  .flex-prev i {
    margin-left: 0.5rem;
  }
  
  body {
    font-size: 1rem;
    padding-top: 4rem; /* Adjusted for mobile header */
  }
  
  a:focus, button:focus, input[type=submit]:focus {
    outline-offset: 0;
  }
  
  .m-0 { margin: 0 !important; }
  .m-1 { margin: 1rem !important; }
  .m-2 { margin: 2rem !important; }
  .m-3 { margin: 3rem !important; }
  .m-4 { margin: 4rem !important; }
  .mt-0 { margin-top: 0 !important; }
  .mt-1 { margin-top: 1rem !important; }
  .mt-2 { margin-top: 2rem !important; }
  .mt-3 { margin-top: 3rem !important; }
  .mt-4 { margin-top: 4rem !important; }
  .mb-0 { margin-bottom: 0 !important; }
  .mb-1 { margin-bottom: 1rem !important; }
  .mb-2 { margin-bottom: 2rem !important; }
  .mb-3 { margin-bottom: 3rem !important; }
  .mb-4 { margin-bottom: 4rem !important; }
  .ml-0 { margin-left: 0 !important; }
  .ml-1 { margin-left: 1rem !important; }
  .ml-2 { margin-left: 2rem !important; }
  .ml-3 { margin-left: 3rem !important; }
  .ml-4 { margin-left: 4rem !important; }
  .mr-0 { margin-right: 0 !important; }
  .mr-1 { margin-right: 1rem !important; }
  .mr-2 { margin-right: 2rem !important; }
  .mr-3 { margin-right: 3rem !important; }
  .mr-4 { margin-right: 4rem !important; }
  .mlr-0 { margin-right: 0 !important; margin-left: 0 !important; }
  .mlr-1 { margin-right: 1rem !important; margin-left: 1rem !important; }
  .mlr-2 { margin-right: 2rem !important; margin-left: 2rem !important; }
  .mlr-3 { margin-right: 3rem !important; margin-left: 3rem !important; }
  .mlr-4 { margin-right: 4rem !important; margin-left: 4rem !important; }
  .mtb-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
  .mtb-1 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
  .mtb-2 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
  .mtb-3 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
  .mtb-4 { margin-top: 4rem !important; margin-bottom: 4rem !important; }
  .p-0 { padding: 0 !important; }
  .p-1 { padding: 1rem !important; }
  .p-2 { padding: 2rem !important; }
  .p-3 { padding: 3rem !important; }
  .p-4 { padding: 4rem !important; }
  .pt-0 { padding-top: 0 !important; }
  .pt-1 { padding-top: 1rem !important; }
  .pt-2 { padding-top: 2rem !important; }
  .pt-3 { padding-top: 3rem !important; }
  .pt-4 { padding-top: 4rem !important; }
  .pt-5 { padding-top: 5rem !important; }
  .pb-0 { padding-bottom: 0 !important; }
  .pb-1 { padding-bottom: 1rem !important; }
  .pb-2 { padding-bottom: 2rem !important; }
  .pb-3 { padding-bottom: 3rem !important; }
  .pb-4 { padding-bottom: 4rem !important; }
  .pb-5 { padding-bottom: 5rem !important; }
  .pl-0 { padding-left: 0 !important; }
  .pl-1 { padding-left: 1rem !important; }
  .pl-2 { padding-left: 2rem !important; }
  .pl-3 { padding-left: 3rem !important; }
  .pl-4 { padding-left: 4rem !important; }
  .pr-0 { padding-right: 0 !important; }
  .pr-1 { padding-right: 1rem !important; }
  .pr-2 { padding-right: 2rem !important; }
  .pr-3 { padding-right: 3rem !important; }
  .pr-4 { padding-right: 4rem !important; }
  .plr-0 { padding-left: 0 !important; padding-right: 0 !important; }
  .plr-1 { padding-left: 1rem !important; padding-right: 1rem !important; }
  .plr-2 { padding-left: 2rem !important; padding-right: 2rem !important; }
  .plr-3 { padding-left: 3rem !important; padding-right: 3rem !important; }
  .plr-4 { padding-left: 4rem !important; padding-right: 4rem !important; }
  .ptb-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
  .ptb-1 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
  .ptb-2 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
  .ptb-3 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
  .ptb-4 { padding-top: 4rem !important; padding-bottom: 4rem !important; }
  
  .btn-white {
    background: #fff;
    color: #000;
    text-decoration: none;
  }
  
  .btn-white-bordered {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
  }
  
  .btn-white-bordered:hover {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    text-decoration: none;
    box-shadow: none;
  }
  
  ul.checklist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.checklist li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #000;
    font-size: 0.9rem;
  }
  
  ul.checklist li:before {
    position: absolute;
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    left: 0;
    top: 0.25rem;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  
  ul li {
    list-style-position: outside;
    line-height: 1.5;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .textbox.corners ul li {
    color: #fff;
  }
  
  ul.linklist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.linklist li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #000;
    font-size: 0.9rem;
  }
  
  ul.linklist li:before {
    position: absolute;
    content: "\f14c";
    font: normal normal normal 14px/1 FontAwesome;
    left: 0;
    top: 0.25rem;
  }
  
  a:hover {
    color: #000000;
  }
  
  .text-blue {
    color: #3ba0f1;
  }
  
  .pricing-tenure-switcher {
    position: relative;
  }
  
  #testimonials {
    background: #fff;
    padding: 0.5rem 0;
    width: 100%;
    margin-bottom: 0;
  }
  
  .aboutSection {
    background: #f8f8f8;
    padding: 2rem 0;
    width: 100%;
    margin: 2rem 0;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  #slider p {
    letter-spacing: 0;
    font-weight: 600;
    color: #000000;
    font-size: 1rem;
    margin-top: 0.25rem;
    line-height: 1.3;
  }
  
  .parallex-image h1, .parallex-image h4 {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem 0;
    text-shadow: -1px 1px 0 #350505;
    font-weight: 700;
  }
  
  .parallex-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    position: relative;
  }
  
  .parallex-image:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
  }
  
  .captionBG:after {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
  }
  
  .captionBG h2, .captionBG h4, .captionBG p {
    position: relative;
    z-index: 99;
  }
  
  .captionBG {
    padding: 1rem;
  }
  
  .aboutpage {
    padding: 2rem 0;
    width: 100%;
  }
  
  .title-block > span {
    display: inline;
    margin-top: 0.25rem;
    color: #d31f2f;
    font-weight: 400;
  }
  
  .bggray {
    background: #f8f8f8 !important;
  }
  
  .gmaps, .maps {
    position: relative;
  }
  
  .maps .fluid-width-video-wrapper {
    height: 15rem;
  }
  
  .maps .fluid-width-video-wrapper iframe {
    position: static;
    height: 100%;
  }
  
  .gmaps .fluid-width-video-wrapper {
    height: 12rem;
  }
  
  .gmaps .fluid-width-video-wrapper iframe {
    position: static;
    height: 100%;
  }
  
  .d-block {
    display: block;
  }
  
  .bg-transparent {
    background-color: transparent !important;
  }
  
  .gmaps {
    border: 0.25rem solid #fff;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
  }
  
  .portfolio-image {
    max-height: 10rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
    border: 0.25rem solid #fff;
  }
  
  .btn-group-lg > .btn, .btn-lg {
    border-radius: 2px;
    padding: 0.5rem 1rem;
    line-height: 1.42857143;
    font-size: 0.875rem;
  }
  
  .btn-dark-blue {
    border: 1px solid #f59a6c;
    padding: 0.75rem 1rem;
    background: #f59a6c;
    color: #fff !important;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .btn-dark-blue:focus, .btn-dark-blue:hover {
    background: #000;
    border-color: #000;
    color: #fff !important;
  }
  
  .btn-yellow {
    border: 2px solid #fed138;
    padding: 0.75rem 1rem;
    background: rgb(229, 200, 12);
    text-transform: uppercase;
    white-space: normal;
  }
  
  .btn-yellow:focus {
    background: #fff;
    color: #000;
  }
  
  .btn-green {
    border: 2px solid #61bb99;
    padding: 0.75rem 1rem;
    border-radius: 0;
    background: #61bb99;
    color: #000 !important;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .why-chooseus img {
    width: 100%;
    max-width: 0.875rem;
    margin-right: 0.5rem;
  }
  
  .why-chooseus h6 {
    font-size: 1rem;
    margin: 0 0 0.375rem;
  }
  
  .why-chooseus p {
    font-size: 0.9rem;
    margin: 0 0 0.5rem !important;
    padding-left: 1.5rem;
    display: flex;
  }
  
  .btn-green:focus, .btn-green:hover {
    background: #ee9929;
    border-color: #ee9929;
    color: #fff;
  }
  
  .btn-white {
    background: #fff;
    color: #000 !important;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .mt-5 { margin-top: 3rem; }
  
  .btn-white:focus, .btn-white:hover {
    color: #000000 !important;
    background: #ff914d !important;
  }
  
  .btn-black {
    background: #000;
    color: #fff;
    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    z-index: 1;
    transition: all 500ms ease;
    border: 2px solid transparent;
  }
  
  .btn-black:focus, .btn-black:hover {
    background: #ff914d;
    color: #000000 !important;
    transition: all ease 1s;
    border: 2px solid;
  }
  
  .btn-grey {
    background: #919396;
    text-transform: uppercase;
    color: #000;
  }
  
  .btn-grey:focus, .btn-grey:hover {
    background: #000;
    border-color: #919396;
    color: #fff !important;
  }
  
  .btn-black-fill {
    color: #fff;
    background: #333;
    font-weight: 500;
  }
  
  .btn-black-fill:focus, .btn-black-fill:hover {
    color: #fff;
    background: #333;
    font-weight: 500;
  }
  
  #slider h4 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 2rem; /* Reduced for mobile */
    color: #3ba0f1;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }
  
  #slider h4 small {
    font-size: 1.5rem;
    color: #d31f2f;
    letter-spacing: 2px;
    display: block;
    font-weight: bold;
  }
  
  .iframe {
    border: 0.25rem solid #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .iframe iframe {
    position: static !important;
  }
  
  .iframe .fluid-width-video-wrapper {
    height: 15rem !important;
  }
  
  .shadow img {
    border: 0.25rem solid #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  }
  
  .contacts {
    padding: 0 2%;
  }
  
  .map-container {
    height: 20rem !important;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
    border: 0.5rem solid #fff;
  }
  
  .sidebar-address {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .sidebar-address h4 {
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.25rem;
    width: 100%;
    margin-bottom: 0.75rem;
    margin-top: 0.5rem;
  }
  
  .resorses a {
    color: #ea961a;
    display: block;
  }
  
  div#faqs.resorses {
    line-height: 1.5rem;
  }
  
  .shadow {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
    max-width: 100%;
    height: auto;
    background: #fff;
    border: 0.5rem solid #fff;
    border-radius: 5px;
  }
  
  .video-shadow {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
    max-width: 100%;
    background: #fff;
    border: 0.5rem solid #fff;
    border-radius: 5px;
  }
  
  .swiper_wrapper {
    height: 15rem !important;
  }
  
  .togglerclose {
    right: -100%;
    height: 0;
    opacity: 0;
  }
  
  table.table.table-custom tbody a:hover {
    color: #000;
    text-decoration: underline;
  }
  
  .barfull {
    width: 100%;
    text-align: center;
    font-weight: 700;
    padding: 1rem 0;
    font-size: 1rem;
    color: #fff;
    background: #1f1917;
    position: relative;
    z-index: 99;
  }
  
  .testimonialspage .line {
    width: 100%;
    margin: 1rem 0 !important;
    padding: 0;
    border-top: 1px dashed #ccc;
  }
  
  .barfull a {
    color: #fff;
    word-break: break-all;
  }
  
  .swiper-container.swiper-parent.swiper-container-horizontal {
    cursor: pointer !important;
  }
  
  .owl-stage-outer.owl-height {
    height: auto !important;
  }
  
  .toggle {
    border-bottom: 1px solid #e4e4e4;
    padding: 0.5rem 0;
  }
  
  #content p {
    font-weight: 400;
    font-size: 0.9rem; /* Adjusted for mobile */
  }
  
  .dark #copyrights a:hover {
    /* color: #fff !important; */
  }
  
  .aboutSection {
    padding: 2rem 0;
    width: 100%;
    color: #000;
    position: relative;
    background-attachment: scroll;
    background: url(../images/bgroad.html) center center no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
  }
  
  .video-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 15rem;
  }
  
  .video-wrap iframe {
    position: static !important;
  }
  
  .fluid-width-video-wrapper {
    height: 100%;
  }
  
  #content .aboutSection .container {
    position: relative;
    z-index: 1;
  }
  
  .aboutSection h1, .aboutSection h3, .aboutSection h4 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  
  #content .aboutSection .container p {
    color: #fff;
    font-size: 1rem;
  }
  
  .text-red {
    color: #862b0a !important;
  }
  
  .socisl a {
    color: #fff;
    padding: 0.25rem;
    display: inline-block;
  }
  
  #content {
    width: 100%;
  }
  
  .socisl a:hover {
    background: #fff;
    color: #000;
  }
  
  .homeservices .ipost.clearfix {
    border: 1px solid #ccc;
    padding: 0.25rem;
  }
  
  .servicetown ul {
    margin-bottom: 1rem;
  }
  
  .servicetown p {
    margin-bottom: 0.25rem;
  }
  
  .blogpagepost h3 {
    font-size: 1.1rem;
  }
  
  .button.button-full.bggray {
    background: #dadada !important;
    color: #000;
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    font-weight: 600;
    position: relative;
    z-index: 0;
    background: url(../images/banner.html) top right no-repeat;
    background-size: cover;
    border-bottom: 0;
  }
  
  a.button.button-full.center.tright.bggray h3 {
    color: #000;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5rem;
  }
  
  a.button.button-full.center.tright.bggray:hover {
    background: #1e2128 !important;
    color: #fff;
    border-bottom: 1px solid #666;
  }
  
  a.button.button-full.center.tright.bggray:hover h3 {
    color: #fff;
  }
  
  .gmaps p {
    margin-bottom: 0.125rem;
  }
  
  .gmaps address {
    margin-bottom: 0;
  }
  
  .title-block h1, .title-block h2, .title-block h3, .title-block h4 {
    margin-bottom: 0;
    text-transform: uppercase;
    color: #d31f2f;
    font-size: 1.25rem;
    letter-spacing: 1px;
    margin-bottom: 0.75rem;
  }
  
  .heading_wrapper {
    margin-top: 1.5rem;
  }
  
  .heading_wrapper h1 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
  }
  
  .heading_wrapper h3 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-size: 1rem;
  }
  
  .schoollogo h4 {
    font-size: 0.875rem;
    text-align: center;
    margin: 0.5rem;
  }
  
  .page-title {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    background: #eee;
  }
  
  .page-title h3 {
    font-size: 1.5rem;
  }
  
  .infobox h4 {
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: normal;
  }
  
  .form-group.mb-1 {
    width: 100%;
  }
  
  .iteminstruct {
    margin-bottom: 0.75rem;
  }
  
  .address-title {
    color: #c94220;
    font-size: 0.9rem;
    line-height: 1.25rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
  }
  
  .btn-black.btn-sm, .btn-gold.btn-sm, .btn-sm.btn-white {
    font-size: 0.75rem;
    padding: 0.5rem !important;
  }
  
  table.table.table-custom tr:nth-child(odd) {
    background: #f9f9f9;
  }
  
  table.table.table-custom tr td {
    border: 0;
    padding: 0.5rem;
    vertical-align: middle;
    min-width: 6rem;
    text-align: left;
  }
  
  table.table.table-custom {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border: 0.25rem solid #fff;
    box-shadow: 0 0 0.25rem #ccc;
    vertical-align: middle;
  }
  
  table.table.table-custom tr td a span:hover {
    color: #00f !important;
  }
  
  .btn-sm {
    font-size: 0.75rem;
    line-height: 1.5;
    border-radius: 3px;
  }
  
  .centeralign {
    float: none;
    display: block;
    margin: 0 auto;
  }
  
  .slider-caption {}
  
  .bold {
    font-weight: 700 !important;
  }
  
  #content p {
    line-height: 1.6;
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
  }
  
  .parallex-section p {
    color: #fff !important;
    font-size: 1.25rem;
  }
  
  .testimonials-grid li {
    width: 100%;
    padding: 1rem;
    height: auto !important;
  }
  
  .ccards {
    margin: 0;
    color: #fff;
  }
  
  article#copyrights p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff !important;
  }
  
  #copyrights {
    font-size: 0.75rem;
    z-index: 999;
    width: 100%;
    margin-top: 0;
    position: static;
    font-weight: 400;
    padding: 0.5rem 0;
    height: auto;
    background-position: center bottom;
    background-size: auto;
    background-repeat: repeat-x;
    background: #3c3b3c;
    text-align: center;
    z-index: 11;
  }
  
  h1, h2, h3, h4, h5 {
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  
  .text-red, .font-red {
    color: #e44e41 !important;
  }
  
  .togglec, .togglet {
    width: 100%;
  }
  
  #content .contactsidebar p {
    font-size: 0.9rem;
  }
  
  .modal-title {
    font-size: 1rem;
  }
  
  .modal-header {
    padding: 0.25rem 0.75rem;
  }
  
  .modal-header .close {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    opacity: 1;
  }
  
  ul.social_footer {
    width: 100%;
    list-style: none;
  }
  
  ul.social_footer li {
    display: inline-block;
  }
  
  ul.social_footer li a {
    color: #a2a4a4;
    padding: 0 0.75rem 0 0;
    font-size: 1rem;
    display: inline-block;
  }
  
  ul.fnav {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  ul.fnav li {
    list-style: none;
    display: block;
  }
  
  ul.fnav li a {
    color: #fff;
    padding: 0.25rem 0;
    width: 100%;
    text-transform: capitalize;
    border-left: 0;
    position: relative;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    transition: all ease 0.5s;
  }
  
  ul.fnav li a:hover {
    padding-left: 0.5rem;
    text-decoration: none;
    transition: all ease 0.5s;
  }
  
  div#logo h1 {
    font-size: 2rem;
    color: #1e6da5;
  }
  
  .lines, .lines:after, .lines:before {
    background-color: #000;
    width: 1.5rem;
    height: 0.25rem;
    border-radius: 2px;
    transition: all 0.2s ease;
  }
  
  .lines-button {
    padding: 0.5rem 0;
    cursor: pointer;
    transition: 0.3s ease;
    display: inline-block;
  }
  
  .lines-button.x .lines:before {
    transform: rotate3d(0, 0, 1, -45deg);
  }
  
  .lines-button.x .lines:after {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  
  button.lines-button.x.close {
    opacity: 1;
  }
  
  .lines-button span.menutext {
    text-indent: -99999px;
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  
  .portletbox {
    padding: 1rem;
    background: #1c6e2d;
    font-size: 1rem;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    outline: 1px solid #ffffff;
    outline-offset: -0.5rem;
    height: 100%;
    margin: 0.5rem 0;
  }
  
  .portletbox .fas {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
  }
  
  .portletbox hr {
    border-top: 1px solid #144581;
  }
  
  .serviceTitle h3 {
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  
  .Classroom .serviceTitle h3 {
    padding: 0 0 0.5rem;
  }
  
  .locations address a {
    color: #000;
  }
  
  .locations address a:hover {
    color: #e44e41;
  }
  
  .rating h1 {
    font-size: 2.5rem !important;
    font-weight: 700 !important;
    margin: 0 0 0.5rem !important;
  }
  
  .rating p {
    margin: 0 !important;
  }
  
  .rating {
    border-radius: 10px;
    box-shadow: 0 0 0.75rem 0.5rem #0000000f;
    padding: 1.5rem 0.5rem !important;
    transition: 0.3s ease-in all;
  }
  
  .rating:hover {
    transform: scale(1.05);
  }
  
  .services .dflexcontent {
    justify-content: center;
    text-align: center;
  }
  
  .why-choose img {
    border: 0 !important;
    height: auto;
    object-fit: cover;
  }
  
  .clients ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .clients ul li {
    list-style: none;
    padding: 1rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  .h-100 {
    height: 100%;
  }
  
  .serviceTitle a {
    color: inherit;
    text-decoration: underline !important;
  }
  
  .choose1 p img {
    filter: invert(1);
  }
  
  .segment p img {
    filter: none;
  }
  
  .choose1 {
    border: 1px solid #00000036;
    border-radius: 10px;
    padding: 0.75rem;
    transition: 0.2s ease-in all;
    height: 100%;
  }
  
  .why-choose {
    display: flex;
    flex-wrap: wrap;
  }
  
  .choose1:hover {
    box-shadow: 0 0 0.75rem 0.5rem #00000014;
    transform: scale(1.01);
  }
  
  .segment h3 {
    font-size: 1.1rem;
    line-height: 1.25rem;
  }
  
  .segment .choose1 {
    padding: 1.25rem 0.75rem;
  }
  
  .footerNav {
    text-align: center;
    width: 100%;
    padding: 0.25rem 0;
    background: #3c3b3c;
  }
  
  .footerNav ul {
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footerNav ul li {
    display: inline-block;
  }
  
  .footer.dark .footerNav ul li a {
    padding: 0.5rem;
    border-radius: 4px;
    margin: 0 0.25rem;
    text-decoration: none !important;
    display: inline-block;
    font-weight: bold !important;
    color: #fff;
  }
  
  .footer.dark .footerNav ul li a:hover {
    color: #ff914d !important;
  }
  
  footer .media span {
    font-size: 1.25rem;
    vertical-align: middle;
    margin-left: 0.25rem;
  }
  
  footer .media {
    margin-top: 0.75rem;
  }
  
  .key-features .feature-1 {
    background: #fff;
    text-align: left;
  }
  
  .key-features .col-sm-6.col-lg-4.col-12 {
    margin-bottom: 1.5rem;
  }
  
  .key-features .feature-1 h3 {
    color: #000;
  }
  
  .key-features > h3 {
    width: 100%;
    display: block;
    margin: 0 0 1rem;
  }
  
  .key-features .col-sm-6 h3 {
    width: 100%;
    display: block;
    margin: 0 0 1rem;
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
  
  .key-features {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .key-features .feature-1 img, .all-links p img {
    width: 100%;
    max-width: 1rem;
    margin-right: 0.5rem;
    object-fit: contain;
  }
  
  .key-features .feature-1 {
    background: #fff;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0 0 0.75rem 0 #ccc;
    text-align: center;
    height: 100%;
  }
  
  .key-features .col-sm-6.col-lg-4.col-12 {
    margin-bottom: 1.5rem;
  }
  
  .key-features .feature-1 h3 {
    color: #000000;
    font-size: 1.5rem;
    line-height: normal;
    background: linear-gradient(270.27deg, #09483a 25.57%, #407CB5 45.03%, #EF5277 57.97%, #F58244 70.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .key-features i {
    font-size: 3rem;
    color: #009688;
    margin-bottom: 0.75rem;
    background: linear-gradient(180deg, #336f97 57.97%, #F58244 70.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .key-features h2 {
    width: 100%;
    display: block;
    margin: 1.5rem 0 2rem;
  }
  
  span.contactPageMedia a {
    color: #000;
    padding: 0 0.25rem;
    font-size: 1rem;
  }
  
  .about-section h3, .about-section p {
    color: #fff;
  }
  
  .about-section {
    position: relative;
  }
  
  .about-section:before {
    width: 100%;
    height: 5rem;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5rem;
    background: #262626;
    clip-path: polygon(100% 58%, 0% 100%, 100% 100%);
    z-index: 1;
  }
  
  .about-section:after {
    width: 100%;
    height: 5rem;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5rem;
    background: #262626;
    clip-path: polygon(0 0, 0 58%, 116% 0);
    z-index: 1;
  }
  
  .btn-dark {
    background: #2a3036;
    color: #fff;
  }
  
  .btn-dark:hover {
    color: #fff;
  }
  
  .CDL-section:before {
    width: 100%;
    height: 5rem;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5rem;
    background: #400b65;
    z-index: 1;
    clip-path: polygon(0 70%, 0 100%, 100% 100%);
  }
  
  .social_footer a {
    font-size: 1rem;
  }
  
  .title_banner {
    color: #fff;
    font-size: 1.25rem;
    background: rgb(241, 243, 244);
    display: inline-block;
    padding: 0 1rem;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    margin: auto;
    color: #000;
    border-radius: 4px;
    width: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  
  .four-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
  }
  
  .bg-purple {
    background: #400b65;
  }